<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myroom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activitymain.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRoom">
        <activity android:name=".activitysummary.ActivitySummary" />
        <activity android:name=".activitycalendar.ActivityCalendar" />
        <activity android:name=".activitylistmem.ActivityListMem" />
        <activity android:name=".activity2addmem.ActivityAddMem" />
        <activity
            android:name=".activitymain.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyRoom.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>